APP_NAME=IPMS
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Shanghai
APP_URL=http://localhost:8000
APP_LOCALE=zh_CN

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ipms
DB_USERNAME=ipms
DB_PASSWORD=ipms_secret

SESSION_DRIVER=redis
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis

MAIL_MAILER=log
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@ipms.local"
MAIL_FROM_NAME="IPMS 系统通知"

SANCTUM_STATEFUL_DOMAINS=localhost:5173
SESSION_DOMAIN=localhost
